<html>
  <head>
    {% if logged_in == 'YES' %}
    <title>On The Rise (logged in as {{ username }})</title>
    {% else %}
    <title>On The Rise</title>
    {% endif %}
  </head>
  <body>
    <div>On The Rise {% if logged_in == 'YES' %}(logged in as {{ username }}){% endif %}
	<a href="/index">Home</a>
	{% if logged_in == 'NO' %}
	<a href="/login">Login</a>
	<a href="/signup">Sign Up</a>
	{% else %}
	<a href="/logout">Log Out</a>
	{% endif %}
	</div>
    <hr>
    {% block content %}{% endblock %}
  </body>
</html>